{% extends "layouts/main.html" %}

{% block pageTitle %}
  Assurance summary - Record a check – {{ serviceName }} – GOV.UK Prototype
{% endblock %}
 
{% block header %}
{{
    dwpHeader({
        serviceName: serviceName,
        serviceHref: "/",
        container: true
    })
}}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <a href="assurance_overview_summary.html" class="govuk-back-link">Back to assurance overview</a>
            <h3 class="govuk-caption-l">FQM-QA-1234</h3>
            <div class="spacing govuk-!-margin-bottom-6"></div>
            <h1 class="govuk-heading-xl">Assurance summary</h1>
            <h2 class="govuk-heading-l">Assurance summary details</h2>
            <div id="overview_container" class="govuk-cookie-banner" style="padding: 10px 10px 1px 10px; border-bottom: 5px;">
                <table class="govuk-table" style="margin-bottom: 10px !important;">
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Current award total</th>
                        <td class="govuk-table__cell">£100.00</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Award due</th>
                        <td class="govuk-table__cell">£0.00</td>
                        <td class="govuk-table__cell"><p id="override_button" class="govuk-body"><a onclick="javascript: show_award_override();" class="govuk-link">Override</a></p></td>
                    </tr>
                    <tr id="award_override" class="govuk-table__row">
                        <td colspan="3" class="govuk-table__cell">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-fieldset__legend--s" for="event-name">
                                    New award amount
                                </label>
                                <div class="govuk-input__wrapper">
                                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                    <input class="govuk-input govuk-input--width-10" id="award_value" name="award_value" type="text" spellcheck="false">
                                </div>
                            </div>
                            <div>
                                <button onclick="javascript: show_override_summary();" value="yes" class="govuk-button" data-module="govuk-button">
                                    Save
                                </button>
                                <a class="govuk-!-margin-9 govuk-link" onclick="javascript: cancel_award_override()">Cancel</a>
                            </div>
                        </td>
                    </tr>
                    <tr id="override_summary" class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Officer added award</th>
                        <td class="govuk-table__cell">£100.00</td>
                        <td class="govuk-table__cell"><p class="govuk-body"><a class="govuk-link" onclick="javascript: show_award_override();">Change</a></p></td>
                        
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Assurance outcome</th>
                        <td class="govuk-table__cell">DWP & customer detriment</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th style="border-bottom: none;" scope="row" class="govuk-table__header">Business event outcome</th>
                        <td style="border-bottom: none;" class="govuk-table__cell">Customer detriment</td>
                        <td style="border-bottom: none;" class="govuk-table__cell"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="spacing govuk-!-margin-bottom-9"></div>
            <h2 class="govuk-heading-l">Error summary details</h2>
            <div id="overview_container" class="govuk-cookie-banner" style="padding: 10px 10px 1px 10px; border-bottom: 5px;">
                <table class="govuk-table" style="margin-bottom: 10px !important;">
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Process error count</th>
                        <td class="govuk-table__cell">2</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Overpayment error count</th>
                        <td class="govuk-table__cell">0</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Overpayment errors total</th>
                        <td class="govuk-table__cell">£0.00</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Underpayment error count</th>
                        <td class="govuk-table__cell">0</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Underpayment errors total</th>
                        <td class="govuk-table__cell">£0.00</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th style="border-bottom: none;" scope="row" class="govuk-table__header">Potential error count</th>
                        <td style="border-bottom: none;" class="govuk-table__cell">0</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="spacing govuk-!-margin-bottom-6"></div>
            <button onclick="location.href='../record_a_check/assurance_overview_summary.html'" class="govuk-button govuk-button--secondary">Close summary</button>
        </div>
    </div>
</div>
{% endblock %}


{% block pageScripts %}
<script>

/*content sections */
const award_override = document.getElementById("award_override");
const override_summary = document.getElementById("override_summary");
const override_button = document.getElementById("override_button");


/*question sets*/


/*on load default */
window.onload = function(){
    award_override.style.display="none";
    override_summary.style.display="none";
}

/* radio logic */

function show_award_override(){
    award_override.style.display="table-row";
     override_summary.style.display="none";
}

function show_override_summary(){
    award_override.style.display="none";
    override_summary.style.display="table-row";
    override_button.innerHTML="";
}

function cancel_award_override(){
    award_override.style.display="none";
    override_summary.style.display="none";
    override_button.innerHTML="<a onclick='javascript: show_award_override();' class='govuk-link'>Override</a>";
}


</script>
{% endblock %}



