{% extends "layouts/main.html" %}

{% block pageTitle %}
  Security and identity verification for DWP - Record a check – {{ serviceName }} – GOV.UK Prototype
{% endblock %}
 
{% block header %}
{{
    dwpHeader({
        serviceName: serviceName,
        serviceHref: "/",
        container: true
    })
}}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div id="menu">
                <h2 class="govuk-heading-m">Sections and questions</h2>
                <hr class="govuk-section-break govuk-section-break--visible">
                <div class="govuk-!-static-margin-6"></div>
                <p class="govuk-body govuk-!-font-weight-bold">Security and identity verification for DWP</a></p>
                <p><a href="#" class="govuk-link govuk-link--no-visited-state">Housing cost</a></p>
                <p><a href="#" class="govuk-link govuk-link--no-visited-state">Personal details</a></p>
                <p><a href="#" class="govuk-link govuk-link--no-visited-state">Payment</a></p>
            </div>
            <button onclick="location.href='../record_a_check/sections.html'" class="govuk-button govuk-button--secondary">Change sections</button>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <a href="assurance_overview_questions.html" class="govuk-back-link">Back to assurance overview</a>
            <h3 class="govuk-caption-l">FQM-QA-1234</h3>
            <div class="spacing govuk-!-margin-bottom-6"></div>
            <h1 class="govuk-heading-xl">Security and identity verification for DWP</h1>
            <h2 class="govuk-heading-m">0 out of 5 answered</h2>
            <div class="govuk-form-group">
                <label class="govuk-label govuk-fieldset__legend--s" for="assessment_provider">
                    Mark as:
                </label>
                <select class="govuk-select" id="mark_as">
                    <option value="#">Please select</option>
                    <option value="yes">Yes</option>
                    <option value="na">N/A</option>
                </select>
            </div>
            <div class="spacing govuk-!-margin-bottom-9"></div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <div id="contact-hint" class="govuk-hint">
                        Question 1 of 5
                    </div>
                    <span class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Where appropriate has the outcome of the identity check been correctly recorded?
                        </h2>
                    </span>
                   
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="identity_check-1" name="identity_check" type="radio" value="yes" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="identity_check_1">
                            Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="identity_check-2" name="identity_check" type="radio" value="no" data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-radios__label" for="identity_check_2">
                            No
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="identity_check-3" name="identity_check" type="radio" value="na" data-aria-controls="conditional-contact-3">
                            <label class="govuk-label govuk-radios__label" for="identity_check-3">
                            Not applicable
                            </label>
                        </div>
                    </div>
                    <div class="spacing govuk-!-margin-bottom-6"></div>
                    <button id="record_error_1" onclick="location.href='../record_a_check/error.html'" class="govuk-button govuk-button--secondary">Record error</button>
                </fieldset>
            </div>
            <div class="spacing govuk-!-margin-bottom-9"></div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <div id="contact-hint" class="govuk-hint">
                        Question 2 of 5
                    </div>
                    <span class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Has the correct level of identity verification been applied?
                        </h2>
                    </span>
                   
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="identity_verification-1" name="identity_verification" type="radio" value="yes" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="identity_verification-1">
                            Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="identity_verification-2" name="identity_verification" type="radio" value="no" data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-radios__label" for="identity_verification-2">
                            No
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="identity_verification-3" name="identity_verification" type="radio" value="na" data-aria-controls="conditional-contact-3">
                            <label class="govuk-label govuk-radios__label" for="identity_verification-3">
                            Not applicable
                            </label>
                        </div>
                    </div>
                    <div class="spacing govuk-!-margin-bottom-6"></div>
                    <button id="record_error_2" onclick="location.href='../record_a_check/error.html'" class="govuk-button govuk-button--secondary">Record error</button>
                </fieldset>
            </div>
            <div class="spacing govuk-!-margin-bottom-9"></div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <div id="contact-hint" class="govuk-hint">
                        Question 3 of 5
                    </div>
                    <span class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Have all required identity documents been correctly verifed and recorded?
                        </h2>
                    </span>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="required_identity_documents-1" name="required_identity_documents" type="radio" value="yes" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="required_identity_documents-1">
                            Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="required_identity_documents-2" name="required_identity_documents" type="radio" value="no" data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-radios__label" for="required_identity_documents-2">
                            No
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="required_identity_documents-3" name="required_identity_documents" type="radio" value="na" data-aria-controls="conditional-contact-3">
                            <label class="govuk-label govuk-radios__label" for="required_identity_documents-3">
                            Not applicable
                            </label>
                        </div>
                    </div>
                    <div class="spacing govuk-!-margin-bottom-6"></div>
                    <button id="record_error_3" onclick="location.href='../record_a_check/error.html'" class="govuk-button govuk-button--secondary">Record error</button>
                </fieldset>
            </div>
            <div class="spacing govuk-!-margin-bottom-9"></div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <div id="contact-hint" class="govuk-hint">
                        Question 4 of 5
                    </div>
                    <span class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Where applicable has the fraud referral process been followed correctly?
                        </h2>
                    </span>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fraud_referral_process-1" name="fraud_referral_process" type="radio" value="yes" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="fraud_referral_process-1">
                            Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fraud_referral_process-2" name="fraud_referral_process" type="radio" value="no" data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-radios__label" for="fraud_referral_process-2">
                            No
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fraud_referral_process-3" name="fraud_referral_process" type="radio" value="na" data-aria-controls="conditional-contact-3">
                            <label class="govuk-label govuk-radios__label" for="fraud_referral_process-3">
                            Not applicable
                            </label>
                        </div>
                    </div>
                    <div class="spacing govuk-!-margin-bottom-6"></div>
                    <button id="record_error_4" onclick="location.href='../record_a_check/error.html'" class="govuk-button govuk-button--secondary">Record error</button>
                </fieldset>
            </div>
            <div class="spacing govuk-!-margin-bottom-9"></div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <div id="contact-hint" class="govuk-hint">
                        Question 5 of 5
                    </div>
                    <span class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Has the security marker been correctly applied where required?
                        </h2>
                    </span>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="security_marker-1" name="security_marker" type="radio" value="yes" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="security_marker-1">
                            Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="security_marker-2" name="security_marker" type="radio" value="no" data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-radios__label" for="security_marker-2">
                            No
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="security_marker-3" name="security_marker" type="radio" value="na" data-aria-controls="conditional-contact-3">
                            <label class="govuk-label govuk-radios__label" for="security_marker-3">
                            Not applicable
                            </label>
                        </div>
                    </div>
                    <div class="spacing govuk-!-margin-bottom-6"></div>
                    <button id="record_error_5" onclick="location.href='../record_a_check/error.html'" class="govuk-button govuk-button--secondary">Record error</button>
                </fieldset>
            </div>
            <div class="spacing govuk-!-margin-bottom-9"></div>
            <div>
                <button name="cd_complete" value="yes" onclick="location.href='../record_a_check/choose_root_cause_analysis.html'" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                <a class=" govuk-!-margin-9 govuk-link" href="#">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
const record_error_1 = document.getElementById("record_error_1");
const record_error_2 = document.getElementById("record_error_2");
const record_error_3 = document.getElementById("record_error_3");
const record_error_4 = document.getElementById("record_error_4");
const record_error_5 = document.getElementById("record_error_5");


/* question sets */
const question_one = document.querySelectorAll('input[name="identity_check"]');
const question_two = document.querySelectorAll('input[name="identity_verification"]');
const question_three = document.querySelectorAll('input[name="required_identity_documents"]');
const question_four = document.querySelectorAll('input[name="fraud_referral_process"]');
const question_five = document.querySelectorAll('input[name="security_marker"]');
const mark_as = document.querySelector('select[name="mark_as"]');


/*on load default */
window.onload = function(){
record_error_1.style.display = "none";
record_error_2.style.display = "none";
record_error_3.style.display = "none";
record_error_4.style.display = "none";
record_error_5.style.display = "none";
}

/* radio logic */
//function showButton(){
//    record_error_1.style.display = "inline";
//}

/*mark_as.addEventListener('change', function(){
    if (this.value == "yes"){
        question_one.forEach(element => {
            //if no selection has been made
                //check the yes box
        });
    }
});
*/
question_one.forEach(element => {
    element.addEventListener('change', function(){
        if (this.value=='no'){
            record_error_1.style.display = "inline";
        }
        else {
            record_error_1.style.display = "none";
        }
    });
});

question_two.forEach(element => {
    element.addEventListener('change', function(){
        if (this.value=='no'){
            record_error_2.style.display = "inline";
        }
        else {
            record_error_2.style.display = "none";
        }
    });
});

question_three.forEach(element => {
    element.addEventListener('change', function(){
        if (this.value=='no'){
            record_error_3.style.display = "inline";
        }
        else {
            record_error_3.style.display = "none";
        }
    });
});

question_four.forEach(element => {
    element.addEventListener('change', function(){
        if (this.value=='no'){
            record_error_4.style.display = "inline";
        }
        else {
            record_error_4.style.display = "none";
        }
    });
});

question_five.forEach(element => {
    element.addEventListener('change', function(){
        if (this.value=='no'){
            record_error_5.style.display = "inline";
        }
        else {
            record_error_5.style.display = "none";
        }
    });
});


</script>
{% endblock %}

