{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <h2 class="govuk-heading-l">Sections</h2>
    <a class="govuk-heading-s" href="caseupload/dashboard.html">Case sample upload journey scenario 1.</a>
    <a class="govuk-heading-s" href="caseupload/dashboard_e.html">Case sample upload journey scenario 2.</a>
    <a class="govuk-heading-s" href="record_a_check/assurance_overview.html">Record a check journey.</a>
  </div>
</div>

{% endblock %}
