{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case sampling dashboard – {{ serviceName }} – GOV.UK Prototype
{% endblock %}
 
{% block header %}
{{
    dwpHeader({
        serviceName: serviceName,
        serviceHref: "/",
        container: true
    })
}}

{% endblock %}

{% block stylesheets %}
 {{ super() }}
 <style type="text/css">

    .dashboard-link::before {
        border-right: 3px solid #1d70b8;
        border-top: 3px solid #1d70b8;
        content: "";
        display: block;
        height: 7px;
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: 5px;
        -webkit-transform: translateY(0) rotate(45deg) scale(1);
        -ms-transform: translateY(0) rotate(45deg) scale(1);
        transform: translateY(0) rotate(45deg) scale(1);
        width: 7px;
    }

</style>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Case sampling uploads</h1>
<div id="container" style="position: relative; width: 100%;">
    <div style="width: 75%; height: auto; border-bottom: 1px solid #aaa;">
        <div style="width: 100%; height: auto; position: relative;">
            <p class="govuk-body"><strong><a class="dashboard-link" href="upload/prepare_e.html">Upload a case sampling file</a></strong></p>
            <p class="govuk-body">Send a file for the quality assurance team to review</p>
        </div>
    </div>
    <div style="width: 100%; height: 20px;"></div>
    <div style="width: 75%; height: auto; border-bottom: 1px solid #aaa;">
        <div style="width: 100%; height: auto; position: relative;">
            <p class="govuk-body"><strong><a class="dashboard-link" href="history.html">View upload history</a></strong></p>
            <p class="govuk-body">Review files uploaded for your product line</p>
        </div>
    </div>
</div>




{% endblock %}

